PAYLOAD_SECRET=mygeneratedsecret
DATABASE_URL=mongodb://127.0.0.1/template-ecommerce

COMPANY_NAME="Mixie Kadai"
TWITTER_CREATOR="@mixie_kadai"
TWITTER_SITE="https://www.instagram.com/mixie_kadai"
SITE_NAME="Mixie Kadai"

PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
# Production: https://www.mixiekadai.lk
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Used to preview drafts
PREVIEW_SECRET=demo-draft-secret

# Stripe API keys
STRIPE_SECRET_KEY=sk_test_
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_WEBHOOKS_SIGNING_SECRET=whsec_
